<template>
  <q-table
    class="q-mb-md no-shadow border overflow-auto my-sticky-column-table"
    :data="dateOfActivity"
    :columns="tableColumns"
    row-key="id"
    hide-bottom
    :pagination.sync="paginationDate"
  >
    <template v-slot:body="props">
      <q-tr
        :props="props"
        class="cursor-pointer"
        @click="openEditSchedulePopup(props.row)"
        v-show="props.rowIndex == 0 || (props.rowIndex != 0 && expand)"
      >
        <q-td auto-width>
          <q-btn
            size="sm"
            v-if="props.rowIndex == 0"
            flat
            color="black"
            @click.stop="expand = !expand"
            :icon="expand ? 'keyboard_arrow_down' : 'keyboard_arrow_right'"
          >
          </q-btn>
        </q-td>

        <q-td key="startdate" :props="props">
          <span class="q-mr-md">{{ props.row.startdate }}</span>
          <span>{{ props.row.time1 }}</span>
        </q-td>

        <q-td key="endDate" :props="props">
          <span class="q-mr-md">{{ props.row.endDate }}</span>
          <span>{{ props.row.time2 }}</span>
        </q-td>

        <q-td
          key="location"
          style="white-space: initial;width: 230px; max-width: 230px;"
          :props="props"
        >
          <span v-if="props.rowIndex != 0">{{ props.row.location }}</span>
        </q-td>

        <q-td key="reccurance" :props="props">
          <div>
            <span class="q-mr-sm" v-if="props.row.repeats">{{
              props.row.repeats.label
            }}</span>
            <span class="q-mr-sm">{{ props.row.repeatEvery }}</span>

            <span v-for="weekday in props.row.repeatsOn" :key="weekday.label">
              <span v-if="weekday.checked" class="q-mr-sm">{{
                weekday.label
              }}</span>
            </span>
          </div>
        </q-td>

        <q-td key="note" :props="props">
          <q-icon
            v-if="props.row.note"
            name="sticky_note_2"
            color="orange"
            style="font-size: 2em;"
            class="cursor-pointer"
            v-tooltip="{
              content: props.row.note,
              placement: 'top-center',
              classes: ['info'],
              offset: 20
            }"
          >
          </q-icon>
        </q-td>

        <q-td key="actions" :props="props">
          <q-btn
            v-if="props.rowIndex != 0"
            icon="delete_forever"
            color="red"
            size="sm"
            no-caps
            round
            @click.stop="openDeleteDate(props.row)"
          >
            <q-tooltip
              anchor="top middle"
              self="bottom middle"
              :offset="[10, 10]"
              transition-show="flip-right"
              transition-hide="flip-left"
            >
              <strong>Delete</strong>
            </q-tooltip>
          </q-btn>
        </q-td>
      </q-tr>
    </template>
  </q-table>
</template>

<script>
import Vue from "vue";
import VTooltip from "v-tooltip";
Vue.use(VTooltip);

export default {
  name: "DateOfActivityPopup",
  data() {
    return {
      expand: false,
      paginationDate: { rowsPerPage: 1000 },
      tableColumns: [
        {
          name: "toggle",
          style: "width: 30px"
        },
        {
          name: "startdate",
          align: "left",
          label: "Start Date",
          field: "startdate"
        },
        {
          name: "endDate",
          align: "left",
          label: "End Date",
          field: "endDate"
        },
        {
          name: "location",
          align: "left",
          label: "Location",
          field: "location"
        },
        {
          name: "reccurance",
          align: "left",
          label: "Recurranse",
          field: "reccurance"
        },
        {
          name: "note",
          align: "left",
          label: "Note",
          field: "note"
        },
        {
          name: "actions",
          align: "left",
          label: "Actions",
          field: "actions"
        }
      ]
    };
  },
  props: {
    dateOfActivity: {
      required: true
    }
  },
  methods: {
    openEditSchedulePopup(schedule) {
      if (schedule.id) this.$emit("openEditPopup", schedule);
    },
    openDeleteDate(schedule) {
      this.$emit("openDeletePopup", schedule);
    }
  }
};
</script>

<style lang="scss" scoped>
.tooltip {
  z-index: 99999 !important;

  &.info {
    $color: rgba(#004499, 0.9);
    z-index: 99999 !important;

    .tooltip-inner {
      background: $color;
      color: white;
      padding: 24px;
      border-radius: 5px;
      box-shadow: 0 5px 30px rgba(black, 0.1);
      max-width: 250px;
      z-index: 9999999999 !important;
    }

    .tooltip-arrow {
      border-color: $color;
    }
  }
}
</style>
