<template>
    <q-card class="bg-transparent no-shadow no-border">
      <q-card-section class="q-pa-none">
        <div class="row q-col-gutter-sm ">
        

          <div v-for="i in barInfo" :key="i.id" class="col-md-2 col-sm-12 col-xs-12 q-mt-md q-mb-md">
            <q-item style="background-color: #fff" class="q-pa-none q-ml-xs">
              <q-item-section side style="background-color: #fff" class=" q-pa-lg q-mr-none text-white">
                <q-icon :name="allocationName(i)" color="deep-orange-6" size="24px"></q-icon>
              </q-item-section>
              <q-item-section class="q-ml-none">
                <q-item-label class="text-grey-7">{{ i.name }}</q-item-label>
                <q-item-label class="text-dark text-h6 text-weight-bolder">
                  <div >$ {{ i.amount }}</div>
                </q-item-label>
                <q-item-label>
                  <div class="fs-1" :class="i.availableAmount > 0  ? 'edx-green' : 'edx-red' ">$ {{ i.availableAmount }}</div>
                </q-item-label>
              </q-item-section>
            </q-item>
          </div>

        </div>
      </q-card-section>
    </q-card>
</template>

<script>

    import axios from 'axios'
    import config from '../../../config'

export default {
    props: {
        title: {
            required: true
        }
    },
    data() {
        return {
            barInfo: null,
        }
    },
    methods: {
        getAllocationBar() {
            const conf = {
                method: 'GET',
                url: config.getAllocationBar + this.title,
                headers: {
                    Accept: 'application/json',
                }
            }
            axios(conf).then(res => {
                this.barInfo = res.data.fundTotalsByCategory
            })
        },
        allocationName(i) {

          let icon = '';

          switch(i.name) {
            case 'Professional Development' : 
              icon = 'how_to_reg';
              break;
            case 'Grand Total' : 
              icon = 'how_to_reg';
              break;
            case 'Instruction' : 
              icon = 'local_library';
              break;
            case 'Total Instruction' : 
              icon = 'local_library';
              break;
            case 'Family Engagement' : 
              icon = 'family_restroom';
              break;
            default:
              icon = 'monetization_on'
              break;
          }

          console.log(icon)

          return icon;
        }
    },
    created() {
      this.getAllocationBar()
    }
}
</script>