<template>
  <div>
    <dialog-draggable
      :width="900"
      :modelDialog="showPopup"
      :title="isEdit ? 'Edit Invoice' : 'New Invoice'"
      :icon="'description'"
    >
      <q-card-section
        style="max-height: 60vh"
        class="scroll q-pt-none q-pb-none q-pr-none q-pl-none"
      >
        <div class="q-pa-md">
          <div class="row">
            <div class="col-md-4">
              <div class="q-mb-sm">
                <div class="text-subtitle2 q-mb-sm">School</div>
                <q-select
                  v-model="selectedSchool"
                  :options="schoolsOptions"
                  use-input
                  @filter="filterFn"
                  dense
                  outlined
                  input-debounce="0"
                  :readonly="invoiceStatus.id == 3 && isEdit"
                  :filled="invoiceStatus.id == 3 && isEdit"
                  :disable="invoiceStatus.id == 3 && isEdit"
                />
              </div>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-5">
              <div class="row justify-end">
                <div class="text-center q-mr-md">
                  <div class="text-subtitle2 q-mb-sm">Allocation</div>
                  <q-chip
                    v-if="title"
                    class="cursor-pointer"
                    square
                    color="edx-bg-pd"
                  >
                    <span>{{ title.label }}</span>
                    <q-tooltip
                      anchor="top middle"
                      self="bottom middle"
                      :offset="[10, 10]"
                      transition-show="flip-right"
                      transition-hide="flip-left"
                    >
                      <strong>{{ title.label }}</strong>
                    </q-tooltip>
                  </q-chip>
                  <q-popup-edit v-if="!isEdit" v-model="title" buttons>
                    <div class="row">
                      <div class="col-md-12 q-pr-sm q-mb-md">
                        <div class="text-subtitle2 q-mb-sm">
                          Change allocation
                        </div>
                        <div class="row cursor-pointer h-popup">
                          <q-select
                            class="w-100"
                            v-model="title"
                            :options="allocationOptions"
                            outlined
                            dense
                          />
                        </div>
                      </div>
                    </div>
                  </q-popup-edit>
                </div>

                <div v-if="fundSourceOptions.length" class="text-center">
                  <div class="text-subtitle2 q-mb-sm">Funding Source</div>
                  <q-chip
                    v-if="fundSource"
                    square
                    class="bg-edx-bg-wr cursor-pointer"
                  >
                    <span>{{ fundSource.abbr }}</span>
                    <q-tooltip
                      anchor="top middle"
                      self="bottom middle"
                      :offset="[10, 10]"
                      transition-show="flip-right"
                      transition-hide="flip-left"
                    >
                      <strong>{{ fundSource.label }}</strong>
                    </q-tooltip>
                  </q-chip>
                  <q-popup-edit v-model="fundSource" buttons>
                    <div class="row">
                      <div class="col-md-12 q-pr-sm q-mb-md">
                        <div class="text-subtitle2 q-mb-sm">
                          Change Funding Source
                        </div>
                        <div class="row cursor-pointer h-popup">
                          <q-select
                            class="w-100"
                            v-model="fundSource"
                            :options="fundSourceOptions"
                            outlined
                            dense
                          />
                        </div>
                      </div>
                    </div>
                  </q-popup-edit>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="q-mb-lg" v-if="campusOptions.length">
                <div class="text-subtitle2 q-mb-sm">Campus</div>
                <q-select
                  class="q-mr-md w-100"
                  outlined
                  dense
                  v-model="selectedCampus"
                  :options="campusOptions"
                  :disable="
                    selectedSchool == '' || (invoiceStatus.id == 3 && isEdit)
                  "
                  :readonly="
                    selectedSchool == '' || (invoiceStatus.id == 3 && isEdit)
                  "
                  :filled="
                    selectedSchool == '' || (invoiceStatus.id == 3 && isEdit)
                  "
                />
              </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <div class="q-mr-md text-right">
                <div class="text-subtitle2 q-mb-sm">Invoice Status</div>

                <div v-if="invoiceStatus">
                  <q-icon
                    :name="invoiceStatusIcon(invoiceStatus.id)"
                    :class="invoiceStatusIconColor(invoiceStatus.id)"
                    ref="ref"
                  >
                    <q-tooltip
                      content-class="edx-tooltip"
                      anchor="top middle"
                      self="bottom middle"
                      :offset="[10, 10]"
                      transition-show="flip-right"
                      transition-hide="flip-left"
                    >
                      <strong>
                        {{ invoiceStatus.label }}
                      </strong>
                    </q-tooltip>
                  </q-icon>

                  {{ invoiceStatus.label }}

                  <q-dialog v-model="showMarkAsPaidModal" persistent>
                    <q-card>
                      <q-card-section class="row items-center">
                        <!-- <q-avatar icon="signal_wifi_off" color="primary" text-color="white" /> -->
                        <span class="q-ml-sm"
                          >Invoices marked as paid will be locked and cannot be
                          edited or modified.</span
                        >
                      </q-card-section>

                      <q-card-actions align="right">
                        <q-btn
                          flat
                          label="Cancel"
                          color="primary"
                          @click="cancelMarkAsPaid"
                        />
                        <q-btn
                          flat
                          label="Mark as Paid"
                          color="primary"
                          @click="markAsPaid"
                        />
                      </q-card-actions>
                    </q-card>
                  </q-dialog>

                  <q-popup-edit
                    v-model="invoiceStatus"
                    :buttons="this.invoiceStatus.id != 3"
                  >
                    <div class="row">
                      <div class="col-md-12 q-pr-sm q-mb-md">
                        <div class="text-subtitle2 q-mb-sm">
                          Change Invoice Status
                        </div>
                        <div class="row cursor-pointer h-popup">
                          <q-select
                            :disable="this.invoiceStatus.id == 3 && isEdit"
                            :readonly="this.invoiceStatus.id == 3 && isEdit"
                            class="w-100"
                            v-model="invoiceStatus"
                            :options="invoiceStatusOptions"
                            @input="changeInvoiceStatus"
                            outlined
                            dense
                          />
                        </div>
                      </div>
                    </div>
                  </q-popup-edit>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 q-mt-lg">
              <div class="text-subtitle2 q-mb-sm">Bill to</div>
              <div class="row justify-between">
                <div>
                  <div>{{ billTo.schoolName }}</div>
                  <div>{{ billTo.address }}</div>
                  <div>
                    {{ billTo.state }} {{ billTo.city }} {{ billTo.zip }}
                  </div>
                  <div>{{ billTo.phone }}</div>
                </div>
                <div
                  @click="showBillToModal"
                  v-if="this.invoiceStatus.id != 3 && isEdit"
                >
                  <q-icon :name="edit" class="edx-icon-edit cursor-pointer" />
                </div>
                <div @click="showBillToModal" v-if="!isEdit">
                  <q-icon :name="edit" class="edx-icon-edit cursor-pointer" />
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-11">
              <div class="q-mt-lg">
                <q-table
                  hide-bottom
                  class="overflow-auto my-sticky-column-table"
                  :data="internalInvoiceData"
                  :columns="internalInvoiceColumns"
                >
                  <!-- Table Body -->
                  <template v-slot:body="props">
                    <q-tr :props="props">
                      <q-td key="internalInvoice" :props="props">
                        <q-input
                          :readonly="invoiceStatus.id == 3 && isEdit"
                          :filled="invoiceStatus.id == 3 && isEdit"
                          :disable="invoiceStatus.id == 3 && isEdit"
                          dense
                          outlined
                          v-model="props.row.internalInvoice"
                        />
                      </q-td>
                      <q-td key="invoiceDate" :props="props">
                        <q-input
                          :readonly="invoiceStatus.id == 3 && isEdit"
                          :filled="invoiceStatus.id == 3 && isEdit"
                          :disable="invoiceStatus.id == 3 && isEdit"
                          outlined
                          class="q-mr-md"
                          dense
                          v-model="props.row.invoiceDate"
                        >
                          <template v-slot:append>
                            <q-icon name="event" class="cursor-pointer">
                              <q-popup-proxy
                                transition-show="scale"
                                transition-hide="scale"
                              >
                                <q-date
                                  color="edx-pagination"
                                  v-model="props.row.invoiceDate"
                                  mask="MM/DD/YYYY"
                                >
                                  <div class="row items-center justify-end">
                                    <q-btn
                                      v-close-popup
                                      label="Close"
                                      color="primary"
                                      flat
                                    />
                                  </div>
                                </q-date>
                              </q-popup-proxy>
                            </q-icon>
                          </template>
                        </q-input>
                      </q-td>
                      <q-td key="totalDue" :props="props">
                        $ {{ props.row.totalDue }}
                      </q-td>
                      <q-td key="dueDate" :props="props">
                        <q-input
                          :readonly="invoiceStatus.id == 3 && isEdit"
                          :filled="invoiceStatus.id == 3 && isEdit"
                          :disable="invoiceStatus.id == 3 && isEdit"
                          outlined
                          class="q-mr-md"
                          dense
                          v-model="props.row.dueDate"
                        >
                          <template v-slot:append>
                            <q-icon name="event" class="cursor-pointer">
                              <q-popup-proxy
                                transition-show="scale"
                                transition-hide="scale"
                              >
                                <q-date
                                  color="edx-pagination"
                                  v-model="props.row.dueDate"
                                  mask="MM/DD/YYYY"
                                >
                                  <div class="row items-center justify-end">
                                    <q-btn
                                      v-close-popup
                                      label="Close"
                                      color="primary"
                                      flat
                                    />
                                  </div>
                                </q-date>
                              </q-popup-proxy>
                            </q-icon>
                          </template>
                        </q-input>
                      </q-td>
                      <q-td class="w-80px" key="terms" :props="props">
                        <q-select
                          :readonly="invoiceStatus.id == 3 && isEdit"
                          :filled="invoiceStatus.id == 3 && isEdit"
                          :disable="invoiceStatus.id == 3 && isEdit"
                          outlined
                          dense
                          :options="termsOptions"
                          v-model="internalInvoiceData[0].terms"
                        />
                      </q-td>
                    </q-tr>
                  </template>
                </q-table>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="q-mt-md">
                <q-table
                  hide-bottom
                  :pagination.sync="pagination"
                  class="overflow-auto"
                  :data="data"
                  :columns="columns"
                >
                  <!-- Table Body -->
                  <template v-slot:body="props">
                    <q-tr :props="props">
                      <q-td key="date" :props="props">
                        {{ props.row.date }}
                      </q-td>
                      <q-td key="description" :props="props">
                        <span class="inline-span">
                          {{ props.row.description }}
                        </span>
                      </q-td>
                      <q-td key="type" :props="props">
                        <q-chip square :class="checkType(props.row.type)">
                          <span> {{ props.row.type }}</span>
                          <q-tooltip
                            anchor="top middle"
                            self="bottom middle"
                            :offset="[10, 10]"
                            transition-show="flip-right"
                            transition-hide="flip-left"
                          >
                            <strong> {{ props.row.type }}</strong>
                          </q-tooltip>
                        </q-chip>
                      </q-td>
                      <q-td key="qty" :props="props">
                        {{ props.row.qty }}
                      </q-td>
                      <q-td key="cost" :props="props">
                        {{ props.row.cost }}
                      </q-td>
                      <q-td key="amount" :props="props">
                        {{ props.row.amount }}
                      </q-td>
                      <q-td>
                        <q-btn
                          v-if="invoiceStatus.id != 3 && isEdit"
                          @click="openDeleteModal(props.row)"
                          icon="delete"
                          class="bg-edx-delete-btn"
                          size="sm"
                          round
                        >
                          <q-tooltip
                            anchor="top middle"
                            self="bottom middle"
                            :offset="[10, 10]"
                            transition-show="flip-right"
                            transition-hide="flip-left"
                          >
                            <strong>Delete</strong>
                          </q-tooltip>
                        </q-btn>
                        <q-btn
                          v-if="!isEdit"
                          @click="openDeleteModal(props.row)"
                          icon="delete"
                          class="bg-edx-delete-btn"
                          size="sm"
                          round
                        >
                          <q-tooltip
                            anchor="top middle"
                            self="bottom middle"
                            :offset="[10, 10]"
                            transition-show="flip-right"
                            transition-hide="flip-left"
                          >
                            <strong>Delete</strong>
                          </q-tooltip>
                        </q-btn>
                      </q-td>
                    </q-tr>
                  </template>
                </q-table>
              </div>
            </div>
            <div class="col-md-12" v-if="invoiceStatus.id != 3 && isEdit">
              <div class="q-mt-md">
                <q-btn
                  :disabled="title.id == null"
                  :readonly="title.id == null"
                  @click="showBudgetItemsPopup = true"
                  icon="add"
                  class="edx-add-btn"
                  round
                />
              </div>
            </div>
            <div class="col-md-12" v-if="!isEdit">
              <div class="q-mt-md">
                <q-btn
                  :disabled="title.id == null"
                  :readonly="title.id == null"
                  @click="showBudgetItemsPopup = true"
                  icon="add"
                  class="edx-add-btn"
                  round
                />
              </div>
            </div>
          </div>

          <div class="q-mt-md">
            <div class="row justify-end items-center q-mb-sm">
              <div class="col-md-4 text-right q-mr-md">
                <div>Subtotal:</div>
              </div>
              <div class="col-md-2 text-left">
                <div>
                  $ <span>{{ subtotal }}</span>
                </div>
              </div>
            </div>

            <div class="row justify-end items-center q-mb-sm">
              <div class="col-md-4 text-right q-mr-md">
                <div>
                  <q-checkbox
                    :readonly="invoiceStatus.id == 3 && isEdit"
                    :filled="invoiceStatus.id == 3 && isEdit"
                    :disable="invoiceStatus.id == 3 && isEdit"
                    size="sm"
                    v-model="isTax"
                    label="Tax:"
                  />
                </div>
              </div>
              <div class="col-md-2 text-left">
                <div>
                  <q-input
                    readonly
                    :disable="!isTax"
                    prefix="$"
                    outlined
                    dense
                    v-model="calculatedTax"
                  />
                  <q-popup-edit v-if="isTax" v-model="tax" buttons>
                    <div class="row">
                      <div class="col-md-12 q-mb-sm">
                        <div class="text-subtitle2 q-mb-sm">Tax Rate</div>
                        <q-input prefix="%" dense outlined v-model="tax" />
                      </div>
                    </div>
                  </q-popup-edit>
                </div>
              </div>
            </div>

            <div class="row justify-end items-center q-mb-sm">
              <div class="col-md-4 text-right q-mr-md">
                <div>
                  <q-checkbox
                    :readonly="invoiceStatus.id == 3 && isEdit"
                    :filled="invoiceStatus.id == 3 && isEdit"
                    :disable="invoiceStatus.id == 3 && isEdit"
                    size="sm"
                    v-model="isCharges"
                    label="Shipping / Other Charges:"
                  />
                </div>
              </div>
              <div class="col-md-2 text-left">
                <div>
                  <q-input
                    readonly
                    :disable="!isCharges"
                    prefix="$"
                    outlined
                    dense
                    v-model="charges"
                  />
                  <q-popup-edit v-if="isCharges" v-model="charges" buttons>
                    <div class="row">
                      <div class="col-md-12 q-mb-sm">
                        <div class="text-subtitle2 q-mb-sm">
                          Shipping Amount
                        </div>
                        <q-input prefix="$" dense outlined v-model="charges" />
                      </div>
                    </div>
                  </q-popup-edit>
                </div>
              </div>
            </div>

            <div class="row justify-end items-center q-mb-sm">
              <div class="col-md-4 text-right q-mr-md">
                <div>Total:</div>
              </div>
              <div class="col-md-2 text-left">
                <div>
                  <b> $ {{ total }}</b>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 q-pr-sm">
              <div class="q-mt-lg">
                <div class="text-subtitle2 q-mb-sm">Note</div>
                <q-input
                  :readonly="this.invoiceStatus.id == 3 && isEdit"
                  :filled="this.invoiceStatus.id == 3 && isEdit"
                  :disable="this.invoiceStatus.id == 3 && isEdit"
                  type="textarea"
                  outlined
                  v-model="note"
                />
              </div>
            </div>
            <div class="col-md-6 q-pl-sm">
              <div class="q-mt-lg">
                <div class="text-subtitle2 q-mb-sm">Invoice Memo</div>
                <q-input
                  :readonly="this.invoiceStatus.id == 3 && isEdit"
                  :filled="this.invoiceStatus.id == 3 && isEdit"
                  :disable="this.invoiceStatus.id == 3 && isEdit"
                  type="textarea"
                  outlined
                  v-model="invoiceMemo"
                />
              </div>
            </div>
          </div>
        </div>
      </q-card-section>

      <q-card-actions class="row justify-end">
        <div>
          <q-btn
            flat
            label="Cancel"
            color="primary"
            @click="emitClosePopup"
          ></q-btn>
          <q-btn
            v-if="!isEdit"
            @click="addInvoice"
            :loading="loading"
            flat
            label="Add"
            color="primary"
          ></q-btn>
          <q-btn
            v-else
            :disabled="invoiceStatus.id == 3 && isEdit && firstTimeStatusIsPaid"
            :loading="loading"
            @click="editInvoice"
            flat
            label="Save"
            color="primary"
          ></q-btn>
        </div>
      </q-card-actions>
    </dialog-draggable>

    <q-dialog v-model="openDeletePopup" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <span class="q-ml-sm">Are you sure to delete this item?</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="No, thanks" color="primary" v-close-popup />
          <q-btn
            :loading="loading"
            label="Yes"
            color="edx-delete-btn"
            @click="deleteItem"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <BudgetItemsPopup
      @toggleBudgetItemsPopup="toggleBudgetItemsPopup"
      @sendLocalData="sendLocalData"
      :show="showBudgetItemsPopup"
      :categoryId="title"
      :invoiceId="showBudgetItemsPopup ? id : null"
      :allocation="showBudgetItemsPopup ? title : null"
      :isEdit="isEdit"
    />

    <BillToModal
      @toggleBillToModal="toggleBillToModal"
      :show="isShowBillToModal"
      @receiveAddress="receiveAddress"
      :schoolId="selectedSchool"
    />
  </div>
</template>

<script>
import ICONS from "../../../icons";
import dialogDraggable from "../../components/DialogDraggable";
import BudgetItemsPopup from "./BudgetItemsPopup";
import BillToModal from "./BillToPopup";
import axios from "axios";
import config from "../../../config";

export default {
  props: {
    show: {
      required: true
    },
    isEdit: {
      required: true
    },
    id: {
      required: true
    }
  },
  components: {
    dialogDraggable,
    BudgetItemsPopup,
    BillToModal
  },
  data() {
    return {
      firstTimeStatusIsPaid: false,
      showMarkAsPaidModal: false,

      loading: false,
      pagination: { rowsPerPage: 999 },

      selectedSchool: "",
      schoolsOptions: [],
      schoolsOptionsForFilter: [],

      internalInvoiceData: [
        {
          internalInvoice: 0,
          invoiceDate: "",
          totalDue: 0,
          dueDate: "",
          terms: {
            id: null,
            label: "N/A"
          }
        }
      ],
      internalInvoiceColumns: [
        {
          name: "internalInvoice",
          align: "left",
          label: "Internal Invoice",
          field: "internalInvoice",
          sortable: false
        },
        {
          name: "invoiceDate",
          align: "left",
          label: "Invoice Date",
          field: "invoiceDate",
          sortable: false
        },
        {
          name: "totalDue",
          align: "left",
          label: "Total Due",
          field: "totalDue",
          sortable: false
        },
        {
          name: "dueDate",
          align: "left",
          label: "Due Date",
          field: "dueDate",
          sortable: false
        },
        {
          name: "terms",
          align: "left",
          label: "Terms",
          field: "terms",
          sortable: false
        }
      ],

      data: [],
      columns: [
        {
          name: "date",
          align: "left",
          label: "Date",
          field: "date",
          sortable: false
        },
        {
          name: "description",
          align: "left",
          label: "Description",
          field: "description",
          sortable: false,
          style: "width: 300px; min-width: 300px; max-width: 300px"
        },
        {
          name: "type",
          align: "left",
          label: "Type",
          field: "type",
          sortable: false
        },
        {
          name: "qty",
          align: "left",
          label: "Qty",
          field: "qty",
          sortable: false
        },
        {
          name: "cost",
          align: "left",
          label: "Cost",
          field: "cost",
          sortable: false
        },
        {
          name: "amount",
          align: "left",
          label: "Amount",
          field: "amount",
          sortable: false
        },
        {
          name: "actions",
          align: "left",
          label: "",
          field: "actions",
          sortable: false
        }
      ],

      termsOptions: [],

      selectedCampus: null,
      campusOptions: [],

      title: {
        id: null,
        label: "N/A"
      },
      fundSource: null,
      invoiceStatus: {
        id: null,
        label: "N/A"
      },

      subTotal: 0,
      isTax: false,
      tax: null,
      charges: null,
      isCharges: false,
      note: "",
      invoiceMemo: "",

      invoiceId: null,

      showBudgetItemsPopup: false,
      openDeletePopup: false,

      isShowBillToModal: false,

      allocationOptions: [],
      fundSourceOptions: [],
      invoiceStatusOptions: [],

      billTo: {}
    };
  },
  methods: {
    sendLocalData(data) {
      console.log("I am local data from child", data);
      // this.data = []
      for (let i = 0; i < data.length; i++) {
        data[i].type = data[i].type.abbreviation;
      }
      this.data = data;
    },
    emitClosePopup() {
      this.$emit("togglePopup", false);
    },
    toggleBudgetItemsPopup(bool) {
      this.showBudgetItemsPopup = bool;
      if (this.isEdit) {
        if (!bool) {
          this.getInvoiceById();
        }
      }
      // alert(bool)
    },
    receiveAddress(info) {
      console.log("NEW ADDRESS", info);
      this.billTo = info;
    },
    openDeleteModal(row) {
      this.openDeletePopup = true;
      this.invoiceId = row.id;
    },

    // Filter
    filterFn(val, update, abort) {
      if (val === "") {
        update(() => {
          this.schoolsOptions = this.schoolsOptionsForFilter;
        });
        return;
      }

      update(() => {
        if (val) {
          const needle = val.toLowerCase();
          this.schoolsOptions = this.schoolsOptionsForFilter.filter(
            v => v.label.toLowerCase().indexOf(needle) > -1
          );
        }
      });
    },
    getCampusBySchoolId(id) {
      let arr = [];
      const conf = {
        method: "GET",
        url: config.getCampuses + id,
        headers: {
          Accept: "application/json"
        }
      };

      axios(conf).then(res => {
        let campuses = res.data[0].campus;
        if (campuses.length) {
          for (let i = 0; i < campuses.length; i++) {
            arr.push({
              id: campuses[i].id,
              label: campuses[i].name
            });
          }
          arr.unshift({ id: null, label: "N/A" });
        }

        this.campusOptions = arr;
      });
    },
    getTerms() {
      const conf = {
        method: "GET",
        url: config.getTerms,
        headers: {
          Accept: "application/json"
        }
      };

      axios(conf).then(res => {
        console.log("res:", res.data);
        let terms = res.data.terms;
        let arr = [];
        for (let i = 0; i < terms.length; i++) {
          arr.push({
            id: terms[i].id,
            label: terms[i].name
          });
        }
        this.termsOptions = arr;
      });
    },

    deleteItem() {
      this.loading = true;

      if (this.isEdit) {
        const conf = {
          method: "DELETE",
          url: config.deleteBudget + this.invoiceId,
          headers: {
            Accept: "application/json"
          }
        };

        axios(conf).then(res => {
          let index = this.data.findIndex(item => item.id == this.invoiceId);
          this.data.splice(index, 1);
          this.$q.notify({
            message: "Deleted!",
            type: "positive"
          });
          this.openDeletePopup = false;
          this.loading = false;
        });
      } else {
        let index = this.data.findIndex(item => item.id == this.invoiceId);
        this.data.splice(index, 1);
        this.openDeletePopup = false;
        this.loading = false;
      }
    },
    addInvoice() {
      this.loading = true;

      const data = {
        token: localStorage.getItem("access-token"),

        number: this.internalInvoiceData[0].internalInvoice,

        invoice_term_id: this.internalInvoiceData[0].terms?.id,
        bill_to_id: this.billTo?.id,
        ship_to_id: this.selectedSchool?.id,
        subtotal: this.subtotal,

        due_date: this.internalInvoiceData[0].dueDate,
        date: this.internalInvoiceData[0].invoiceDate,

        fund_source_id: this.fundSource ? this.fundSource.id : null,
        total_amount: this.total,

        invoice_status_id: this.invoiceStatus?.id,
        allocation_type_id: this.title?.id,

        note: this.note,
        memo: this.invoiceMemo,
        school_id: this.selectedSchool?.id,
        campus_id: this.selectedCampus?.id
      };

      this.isTax ? (data.tax = this.tax) : null;
      this.isCharges ? (data.shipping_fee = this.charges) : null;

      const conf = {
        method: "POST",
        url: config.addInvoice + this.title.id,
        headers: {
          Accept: "application/json"
        },
        data: data
      };

      axios(conf).then(res => {
        if (!this.isEdit) {
          // duplicate function //
          // RODO
          // Refactoring

          let id = res.data.invoice[0].id;
          console.log("it is add ---- ud = ", id);

          let budgetIds = [];
          if (this.data.length) {
            for (let i = 0; i < this.data.length; i++) {
              budgetIds.push(this.data[i].id);
            }
          }

          const conf = {
            method: "POST",
            url: config.addSelected + id,
            headers: {
              Accept: "application/json"
            },
            data: {
              token: localStorage.getItem("access-token"),
              budget_ids: budgetIds
            }
          };

          axios(conf).then(res => {
            this.$q.notify({
              message: "Invoice Added!",
              type: "positive"
            });

            this.loading = false;
          });
        }

        let invoice = res.data.invoice[0];
        this.$emit("addInvoice", invoice);

        this.emitClosePopup();
      });
    },
    editInvoice() {
      this.loading = true;

      const data = {
        token: localStorage.getItem("access-token"),

        number: this.internalInvoiceData[0].internalInvoice,

        invoice_term_id: this.internalInvoiceData[0].terms?.id,
        bill_to_id: this.billTo.id,
        ship_to_id: this.selectedSchool?.id,
        subtotal: this.subtotal,

        due_date: this.internalInvoiceData[0].dueDate,
        date: this.internalInvoiceData[0].invoiceDate,

        fund_source_id: this.fundSource ? this.fundSource.id : null,
        total_amount: this.total,

        invoice_status_id: this.invoiceStatus?.id,
        allocation_type_id: this.title?.id,

        note: this.note,
        memo: this.invoiceMemo
      };

      this.isTax ? (data.tax = this.tax) : null;
      this.isCharges ? (data.shipping_fee = this.charges) : null;

      const conf = {
        method: "PUT",
        url: config.editInvoice + this.id,
        headers: {
          Accept: "application/json"
        },
        data: data
      };

      axios(conf).then(res => {
        this.loading = false;

        let invoice = res.data.invoice[0];
        this.$emit("editInvoice", invoice);

        this.$q.notify({
          message: "Invoice Edited!",
          type: "positive"
        });

        this.emitClosePopup();
      });
    },
    getInvoiceById() {
      const conf = {
        method: "GET",
        url: config.getInvoices + "/" + this.id,
        headers: {
          Accept: "application/json"
        }
      };

      axios(conf).then(res => {
        let data = res.data.item[0];
        console.log("Get invoice by id -----", res.data.item[0]);

        this.title = {
          id: data.allocation?.id,
          label: data.allocation?.name
        };

        this.fundSource = {
          id: data.fund_source?.id,
          label: data.fund_source?.name,
          abbr: data.fund_source?.abbreviation
        };

        this.invoiceStatus = {
          id: data.invoice_status?.id,
          label: data.invoice_status?.name
        };

        if (data.invoice_status.id && data.invoice_status.id == 3) {
          this.firstTimeStatusIsPaid = true;
        } else {
          this.firstTimeStatusIsPaid = false;
        }

        this.internalInvoiceData = [];
        this.internalInvoiceData.push({
          internalInvoice: data.number,
          invoiceDate: data.date,
          totalDue: data.total_amount,
          dueDate: data.due_date,
          terms: {
            id: data.invoice_term?.id,
            label: data.invoice_term?.name
          }
        });

        this.billTo = {
          id: data.address?.id,
          address: data.address?.address_line_1,
          city: data.address?.city,
          state: data.address?.state?.name,
          zip: data.address?.postal_code,
          phone: data.address?.phone
        };

        // this.subtotal = res.data.item[0].subtotal

        if (res.data.item[0].isTaxTurnedOn == 1) {
          this.isTax = true;
          this.tax = res.data.item[0].tax;
        }

        if (res.data.item[0].isShipingTurnedOn == 1) {
          this.isCharges = true;
          this.charges = res.data.item[0].shipping_fee;
        }

        this.note = res.data.item[0].note;

        this.invoiceMemo = res.data.item[0].memo;

        // this.schoolsOptions.push({
        //     id: parseInt(res.data.item[0].school_id),
        //     label: res.data.item[0].schoolName
        // })

        this.selectedSchool = {
          label: res.data.item[0].schoolName,
          id: res.data.item[0].school_id
        };

        this.selectedCampus = {
          id: res.data.item[0]?.campus?.id,
          label: res.data.item[0]?.campus?.name
        };

        let lineItems = res.data.item[0]?.line_item;

        this.getCampusBySchoolId(res.data.item[0].school_id);

        let arr = [];
        for (let i = 0; i < lineItems.length; i++) {
          arr.push({
            id: lineItems[i].budget.id,
            date: `${lineItems[i].budget.start_date}-${lineItems[i].budget.end_date}`,
            description: lineItems[i].budget.name,
            type: lineItems[i].budget.category?.abbreviation,
            qty: lineItems[i].budget.quantity,
            cost: lineItems[i].budget.unit_cost,
            amount: lineItems[i].budget.unit_total_cost
          });
        }
        this.data = arr;
      });
    },

    showBillToModal() {
      this.isShowBillToModal = true;
    },
    toggleBillToModal(bool) {
      this.isShowBillToModal = bool;
    },

    // Get titles
    getAllocations() {
      const conf = {
        method: "GET",
        url: config.getAllocations,
        headers: {
          Accept: "application/json"
        }
      };

      axios(conf).then(res => {
        let allocations = res.data.allocationTypes;
        let arr = [];
        for (let i = 0; i < allocations.length; i++) {
          arr.push({
            id: allocations[i].id,
            label: allocations[i].name
          });
        }
        this.allocationOptions = arr;
      });
    },
    // Get Fund source
    getFundSource() {
      let id = this.title?.id;

      const conf = {
        method: "GET",
        url: config.getFundSourceByTitleId + id,
        headers: {
          Accept: "application/json"
        }
      };

      axios(conf).then(res => {
        console.log("Fund source ===", res.data);

        let funds = res.data.fundSource;
        let arr = [];
        for (let i = 0; i < funds.length; i++) {
          arr.push({
            id: funds[i].id,
            label: funds[i].name,
            abbr: funds[i].abbreviation
          });
        }
        this.fundSourceOptions = arr;
      });
    },
    // get invoice status
    getInvoiceStatus() {
      const conf = {
        method: "GET",
        url: config.getInvoiceStatus,
        headers: {
          Accept: "application/json"
        }
      };

      axios(conf).then(res => {
        console.log("getInvoiceStatus ===", res.data);

        let invoiceStatus = res.data.invoiceStatus;
        let arr = [];
        for (let i = 0; i < invoiceStatus.length; i++) {
          arr.push({
            id: invoiceStatus[i].id,
            label: invoiceStatus[i].name
          });
        }
        this.invoiceStatusOptions = arr;
      });
    },
    getSchools() {
      const conf = {
        method: "GET",
        url: config.getSchools + "?limit=" + 500 + "&page=" + 1,
        headers: {
          Accept: "application/json"
        }
      };

      axios(conf).then(res => {
        let schoolsArr = [];
        for (let i = 0; i < res.data.schools.length; i++) {
          let obj = {
            id: res.data.schools[i].id,
            label: res.data.schools[i].name
          };

          schoolsArr.push(obj);
        }

        this.schoolsOptions = schoolsArr;
        this.schoolsOptionsForFilter = schoolsArr;
      });
    },
    invoiceStatusIcon(id) {
      // id: 1 : Created
      // id: 2 : Billed
      // id: 3 : Paid

      if (id) {
        const iconId = id;
        let icon = null;

        switch (iconId) {
          case 1:
            icon = ICONS.created;
            break;
          case 2:
            icon = ICONS.billed;
            break;
          case 3:
            icon = ICONS.paid;
            break;
        }

        return icon;
      }
    },
    invoiceStatusIconColor(id) {
      if (id) {
        const iconId = id;
        let icon = null;

        switch (iconId) {
          case 1:
            icon = "edx-icon-created";
            break;
          case 2:
            icon = "edx-icon-billed";
            break;
          case 3:
            icon = "edx-icon-paid";
            break;
        }

        return icon;
      }
    },

    checkType(type) {
      let className = "";

      switch (type) {
        case "I":
          className = "bg-edx-bg-i";
          break;

        case "M":
          className = "bg-edx-bg-m";
          break;

        case "PD":
          className = "bg-edx-bg-pd";
          break;

        case "FE":
          className = "bg-edx-bg-fe";
          break;

        default:
          className = "";
          break;
      }

      return className;
    },

    resetState() {
      this.selectedSchool = null;
      this.internalInvoiceData = [
        {
          internalInvoice: 0,
          invoiceDate: "",
          totalDue: 0,
          dueDate: "",
          terms: {
            id: null,
            label: "N/A"
          }
        }
      ];
      this.data = [];
      this.selectedCampus = null;
      this.title = {
        id: null,
        label: "N/A"
      };
      this.fundSource = null;
      this.invoiceStatus = {
        id: null,
        label: "N/A"
      };
      this.subTotal = 0;
      this.isTax = false;
      this.tax = null;
      (this.charges = null), (this.isCharges = false);
      (this.note = ""), (this.invoiceMemo = "");
      this.billTo = {};
    },

    changeInvoiceStatus() {
      if (this.invoiceStatus.id == 3) {
        this.showMarkAsPaidModal = true;
      }
    },

    markAsPaid() {
      this.showMarkAsPaidModal = false;
      this.$refs.ref.$el.click();
      this.invoiceStatus = { id: 3, label: "Paid" };
    },

    cancelMarkAsPaid() {
      this.showMarkAsPaidModal = false;
      this.$refs.ref.$el.click();
    }
  },
  computed: {
    showPopup() {
      return this.show;
    },
    edit() {
      return ICONS.edit;
    },
    total() {
      let tax = parseFloat(this.tax);
      let charge = parseFloat(this.charges);

      if (isNaN(tax)) {
        tax = 0;
      }
      if (isNaN(charge)) {
        charge = 0;
      }

      return (
        parseFloat(this.subTotal) +
        (this.isTax ? (this.subTotal * tax) / 100 : 0) +
        (this.isCharges ? charge : 0)
      ).toFixed(2);
    },
    subtotal() {
      let count = 0;
      for (let i = 0; i < this.data.length; i++) {
        count += parseFloat(this.data[i].amount);
      }
      this.subTotal = count;
      return count.toFixed(2);
    },
    calculatedTax() {
      if (!this.isTax) {
        this.tax = 0;
        return 0;
      } else {
        return ((this.subTotal * this.tax) / 100).toFixed(2);
      }
    }
  },
  watch: {
    show(val) {
      this.$emit("togglePopup", val);

      if (val && this.isEdit) {
        this.getInvoiceById();
      } else {
        this.resetState();
      }

      val && this.getSchools();
    },
    selectedSchool(val) {
      if (val) {
        this.getCampusBySchoolId(val.id);
      } else {
        this.selectedCampus = null;
      }
    }
  },
  created() {
    this.getTerms();
    this.getAllocations();
    this.getFundSource();
    this.getInvoiceStatus();
  }
};
</script>

<style scoped>
.w-80px {
  width: 80px;
}
.table-td-w {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
}
</style>
