<template>
  <div class="budget-table-max-width  q-mb-md">
    <div class="text-subtitle1 q-mb-md">
      <b>{{ name }} Spending Breakdown</b>
    </div>
    <div class="row justify-between">
      <div>
        <q-table
          class="blue-table blue-table-year"
          :data="data"
          :columns="columns"
          hide-bottom
          :pagination.sync="pagination"
        >
          <!-- Table Body -->
          <template v-slot:body="props">
            <q-tr :props="props" class="cursor-pointer">
              <q-td key="name" :props="props"> {{ props.row.name }} </q-td>
              <q-td key="total" :props="props"> $ {{ props.row.total }} </q-td>
            </q-tr>
          </template>
        </q-table>
      </div>

      <apexchart
        width="450"
        type="donut"
        :options="title1Options"
        :series="chardData"
      ></apexchart>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import config from "../../../config";
import VueApexCharts from "vue-apexcharts";

export default {
  props: {
    category: {
      required: true
    },
    startDate: {
      required: true
    },
    endDate: {
      required: true
    },
    schoolId: {
      required: true
    },
    allocation: {
      required: true
    },
    showTbd: {
      required: true
    }
  },
  components: {
    apexchart: VueApexCharts
  },
  data() {
    return {
      pagination: { rowsPerPage: 40 },
      data: [],
      columns: [
        {
          name: "name",
          align: "left",
          label: "Name",
          field: "name",
          sortable: false
        },
        {
          name: "total",
          align: "left",
          label: "Total",
          field: "total",
          sortable: false
        }
      ],

      chardData: [],

      title1Options: {
        colors: [
          "#3f80ea",
          "#4bbf74c0",
          "#ff943cee",
          "#d9534f",
          "#6e42c1b5",
          "#f5d44f"
        ],
        labels: [],
        dataLabels: {
          enabled: true,
          style: {
            colors: ["#343a40"]
          }
        },
        markers: {
          strokeWidth: 10
        },
        legend: {
          show: true,
          floating: true,
          position: "left"
        },
        chart: {
          redrawOnParentResize: true,
          type: "donut"
        },
        grid: {
          padding: {
            left: 70
          }
        }
      }
    };
  },
  methods: {
    getBudgetSummary() {
      let uri = `?school=${this.schoolId}&allocation=${this.allocation}&category=${this.category}`;
      if (this.startDate && this.endDate)
        uri += `&startDate=${this.startDate}&endDate=${this.endDate}`;

      this.showTbd ? (uri += `&showtbd=${1}`) : (uri += `&showtbd=${0}`);

      const conf = {
        method: "GET",
        url: `${config.getDashboardTotals}${uri}`,
        headers: {
          Accept: "application/json"
        }
      };

      axios(conf).then(res => {
        let finalArray = [];
        let instructionTeachersTotal = res.data.instructionTeachersTotal;
        let vendorsTotal = res.data.vendorsTotal;

        let chData = [];
        let chDataName = [];

        for (let i in instructionTeachersTotal) {
          finalArray.push({
            name: i,
            total: `${instructionTeachersTotal[i].toFixed(2)}`
          });
          chData.push(instructionTeachersTotal[i]);
          chDataName.push(i);
        }

        if (vendorsTotal && vendorsTotal.length) {
          for (let i = 0; i < vendorsTotal.length; i++) {
            finalArray.push({
              name: vendorsTotal[i].vendorName,
              total: `${vendorsTotal[i].total.toFixed(2)}`
            });
            chData.push(vendorsTotal[i].total);
            chDataName.push(vendorsTotal[i].vendorName);
          }
        }

        finalArray.push({
          name: `Total ${this.name}`,
          total: `${res.data.totalByCategory.toFixed(2)}`
        });

        // console.log(chData, "chDatachDatachData");

        this.data = finalArray;
        this.chardData = chData;

        // console.log("chDataName", chDataName);

        this.title1Options = {
          labels: chDataName
        };

        // console.log(this.title1Options, "ada");
      });
    }
  },
  computed: {
    name() {
      let name = "";
      switch (this.category) {
        case 1:
          name = "Professional Development";
          break;
        case 2:
          name = "Family Engagement";
          break;
        case 3:
          name = "Instruction";
          break;
        case 4:
          name = "Material";
          break;
      }
      return name;
    }
  },
  created() {
    this.getBudgetSummary();
  }
};
</script>

//
<style lang="sass">
.budget-table-max-width
    max-width: 950px
.blue-table-year
  width: 420px !important
.blue-table-year tbody tr:last-child
  background: #80808012
  font-weight: 600
</style>
