<template>
  <div class="q-pa-sm edx-background">
    <div class="q-pa-sm q-mt-sm q-gutter-sm">
      <div class="edx-header-parent">
        <span class="edx-header-text">Inventory Reports</span>
      </div>

      <q-table
        :data="data"
        :columns="columns"
        row-key="id"
        :loading="loading"
        binary-state-sort
        :pagination.sync="pagination"
        selection="multiple"
        :selected.sync="selected"
      >
        <!-- Loading -->
        <template v-slot:loading>
          <q-inner-loading showing color="primary" />
        </template>

        <!-- Table Header -->
        <template v-slot:top-right="props">
          <!-- <q-input
              class="q-mr-md"
              outlines
              dense
              v-model="filter"
              placeholder="Search"
              style="min-width: 250px; max-width: 250px"
              @keyup="keyUpFilter" 
              @keydown="keyDownFilter"
            >
              
              <template v-slot:append>
                <q-icon name="search" />
              </template>
            </q-input> -->

          <q-checkbox
            v-for="title in titleArray"
            :key="title.id"
            v-model="title.selected"
            :label="title.label"
            class="q-mr-sm"
          />

          <q-btn
            square
            class="q-mr-md q-ml-md edx-add-btn"
            text-color="white"
            @click="exportReport"
            no-caps
            :loading="loading"
          >
            Export Report
          </q-btn>

          <q-btn
            flat
            round
            dense
            :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
            @click="props.toggleFullscreen"
            v-if="mode === 'list'"
            class="q-px-sm"
          >
            <q-tooltip :disable="$q.platform.is.mobile" v-close-popup
              >{{
                props.inFullscreen ? "Exit Fullscreen" : "Toggle Fullscreen"
              }}
            </q-tooltip>
          </q-btn>
        </template>

        <!-- Table Body -->
        <!-- <template v-slot:body="props">
              <q-tr :props="props">

                <q-td key="checked" class="cursor-pointer" :props="props" style="width: 50px;">
                  <div class="row justify-between items-center">
                    <q-checkbox v-model="props.row.selected" />
                  </div>
                </q-td>

                <q-td key="name" class="cursor-pointer" :props="props">
                  <div class="row justify-between items-center">
                    {{ props.row.name }} 
                  </div>
                </q-td>

              </q-tr>
          </template> -->

        <!-- Pagination -->
        <!-- <template v-slot:bottom class="justify-end">
            <div class="q-pa-md flex flex-center">
              <q-pagination
                v-model="current"
                color="edx-pagination"
                :max-pages="6"
                :max="pages"
                :direction-links="true"
                @click="changePagination(current)"
              >
              </q-pagination>

              <div class="row justify-center items-center">
                <span class="q-mr-md">Rows Per page</span>
                <q-select dense outlined 
                  @input="changeRowsPerPage"
                  v-model="pagination.rowsPerPage" 
                  :options="rowsPerPageArr" 
                />
              </div>
              
            </div>
          </template> -->
      </q-table>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import config from "../../../config";
import dialogDraggable from "../../components/DialogDraggable";

let typingTimer,
  doneTypingInterval = 500;

export default {
  components: {
    dialogDraggable
  },

  data() {
    return {
      selected: [],
      loading: false,
      titleArray: [
        { id: 1, label: "Title I", selected: false },
        { id: 2, label: "Title II", selected: false },
        { id: 3, label: "Title III", selected: false },
        { id: 4, label: "Title IV", selected: false },
        { id: 5, label: "Title ESSER", selected: false },
        { id: 6, label: "Title GEER", selected: false }
      ],
      school: {
        name: ""
      },
      loading: true,
      pagination: { rowsPerPage: 100 },
      current: 1,
      count: 900,
      columns: [
        {
          name: "name",
          align: "left",
          label: "Name",
          field: "name",
          sortable: true
        }
      ],
      data: [],
      rowsPerPageArr: ["5", "10", "25", "50", "75", "100"],
      mode: "list",
      filter: ""
    };
  },
  methods: {
    schoolsParsing(data) {
      let schoolsArr = [];
      for (let i = 0; i < data.length; i++) {
        let obj = {
          id: data[i].id,
          name: data[i].name
        };
        schoolsArr.push(obj);
      }
      return schoolsArr;
    },
    getSchools(limit, page) {
      const conf = {
        method: "GET",
        url: config.getSchools + "?limit=" + limit + "&page=" + page,
        headers: {
          Accept: "application/json"
        }
      };

      axios(conf).then(res => {
        this.pages = res.data.pagesCount;
        let data = res.data.schools;

        let finalData = this.schoolsParsing(data);

        this.data = finalData;
        this.loading = false;
      });
    },

    // changePagination (val) {
    //   this.current = val
    //   this.getSchools(this.count, this.current)
    // },
    // changeRowsPerPage() {
    //   this.count = this.pagination.rowsPerPage
    //   this.current = 1
    //   this.getSchools(this.count, this.current)
    // },
    // filterSchools() {
    //   this.loading = true
    //   console.log('send request')

    //   const conf = {
    //     method: 'GET',
    //     url: config.filterSchool + this.filter,
    //     headers: {
    //       Accept: 'application/json',
    //     }
    //   }

    //   axios(conf).then(res => {
    //     this.pages = res.data.pagesCount
    //     let data = res.data.schools

    //     let filteredData = this.schoolsParsing(data)

    //     this.data = filteredData
    //     this.loading = false
    //   })
    //   .catch(err => {
    //     this.loading = false
    //   })

    // },
    // Filter key events
    // keyUpFilter() {
    //   clearTimeout(typingTimer);
    //   typingTimer = setTimeout(this.doneTyping, doneTypingInterval);
    // },
    // keyDownFilter() {
    //   clearTimeout(typingTimer);
    // },
    // doneTyping() {
    //   if(this.filter.length > 1 || this.filter.length == 0) {
    //     this.filterSchools()
    //   }
    // }
    exportReport() {
      console.log(this.selected);

      this.loading = true;

      // ?schools=1001,1002&allocation=1,4

      let uri = "";
      let tempSchoolIds = "";

      if (this.selected.length == this.data.length) {
      } else {
        for (let i = 0; i < this.selected.length; i++) {
          tempSchoolIds += `${this.selected[i].id},`;
        }
        uri =
          "?schools=" +
          uri +
          tempSchoolIds.substring(0, tempSchoolIds.length - 1);
      }

      let tempAllocationIds;
      if (this.selected.length == this.data.length) {
        tempAllocationIds = "?allocation=";
      } else {
        tempAllocationIds = "&allocation=";
      }

      for (let i = 0; i < this.titleArray.length; i++) {
        if (this.titleArray[i].selected) {
          tempAllocationIds += `${this.titleArray[i].id},`;
        }
      }

      uri = uri + tempAllocationIds.substring(0, tempAllocationIds.length - 1);

      uri = uri.replace(/ /g, "");

      // console.log(uri, 'asdasdasd')

      const conf = {
        method: "GET",
        url: `${config.exportInventory}${uri}`,
        headers: {
          Accept: "application/json"
        }
      };

      axios(conf)
        .then(res => {
          console.log("res", res.data);
          // window.open(res.data.excelLink)
          let l = res.data.excelLink;
          let fileLink = document.createElement("a");

          fileLink.href = l;
          fileLink.setAttribute("download", l);
          document.body.appendChild(fileLink);

          fileLink.click();
          this.loading = false;
        })
        .catch(err => {
          this.loading = false;
        });
    }
  },
  created() {
    this.getSchools(this.count, this.current);
  },
  computed: {}
};
</script>
