<template>
  <div class="q-pa-sm edx-background">
    <div class="q-pa-sm q-mt-sm q-gutter-sm">
      <div class="edx-header-parent">
        <span class="edx-header-text">School Summary Reports</span>
      </div>
      <q-table
        :data="data"
        :columns="columns"
        :loading="loading"
        row-key="area"
        hide-bottom
      >
        <!-- Loading -->
        <template v-slot:loading>
          <q-inner-loading showing color="primary" />
        </template>

        <!-- Table Header -->
        <template v-slot:top="props">
          <div class="row" style="width: 70%">
            <div class="school-block q-pr-sm">
              <div class="text-subtitle2 q-mb-sm">School</div>
              <q-select
                v-model="selectedSchool"
                :options="schoolsOptions"
                use-input
                @filter="filterFn"
                dense
                outlined
                input-debounce="0"
              />
            </div>

            <div class="title-block q-pr-sm">
              <div class="text-subtitle2 q-mb-sm">Title</div>
              <q-select
                outlined
                dense
                v-model="selectedTitle"
                :options="titleOptions"
              />
            </div>
            <!-- <div class="subcategory-block q-pr-sm">
              <div class="text-subtitle2 q-mb-sm">Subcategory</div>
              <q-select
                outlined
                dense
                v-model="selectedSubcategory"
                :options="subcategoryOptions"
              />
            </div> -->

            <div class="date-block q-pr-sm">
              <div class="text-subtitle2 q-mb-sm">Start Date</div>
              <q-input outlined dense v-model="startDate">
                <template v-slot:append>
                  <q-icon name="event" class="cursor-pointer">
                    <q-popup-proxy
                      transition-show="scale"
                      transition-hide="scale"
                    >
                      <q-date
                        mask="MM/DD/YYYY"
                        color="edx-pagination"
                        v-model="startDate"
                      >
                        <div class="row items-center justify-end">
                          <q-btn
                            v-close-popup
                            label="Close"
                            color="primary"
                            flat
                          />
                        </div>
                      </q-date>
                    </q-popup-proxy>
                  </q-icon>
                </template>
              </q-input>
            </div>

            <div class="date-block q-pr-sm">
              <div class="text-subtitle2 q-mb-sm">Start Date</div>

              <q-input outlined dense v-model="endDate">
                <template v-slot:append>
                  <q-icon name="event" class="cursor-pointer">
                    <q-popup-proxy
                      transition-show="scale"
                      transition-hide="scale"
                    >
                      <q-date
                        mask="MM/DD/YYYY"
                        color="edx-pagination"
                        v-model="endDate"
                      >
                        <div class="row items-center justify-end">
                          <q-btn
                            v-close-popup
                            label="Close"
                            color="primary"
                            flat
                          />
                        </div>
                      </q-date>
                    </q-popup-proxy>
                  </q-icon>
                </template>
              </q-input>
            </div>

            <div class=" q-pr-sm">
              <div class="text-subtitle2 q-mb-sm">&nbsp;</div>
              <q-checkbox v-model="showTbd" label="Show TBD Activities" />
            </div>

            <div class=" q-pr-sm">
              <div class="text-subtitle2 q-mb-sm">&nbsp;</div>
              <q-btn
                :disabled="isValid"
                square
                class="q-mr-md q-ml-md edx-add-btn"
                text-color="white"
                no-caps
                @click="filterSummaryReport"
              >
                Go
              </q-btn>
            </div>
          </div>

          <q-space />

          <q-btn
            round
            icon="mdi-file-excel-box"
            size="10px"
            class="edx-excel-btn q-mr-sm"
            text-color="white"
            no-caps
            :disabled="!budgetArray.length"
            @click="exportExcel"
          >
            <q-tooltip content-class="edx-tooltip">Export to Excel</q-tooltip>
          </q-btn>

          <!-- TODO -->
          <!-- <q-btn
            round
            icon="print"
            size="10px"
            class="edx-bg-blue"
            text-color="white"
            no-caps
            :disabled="!budgetArray.length"
          >
            <q-tooltip content-class="edx-tooltip">Print</q-tooltip>
          </q-btn> -->

          <q-btn
            flat
            round
            dense
            :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
            @click="props.toggleFullscreen"
            v-if="mode === 'list'"
            class="q-px-sm"
          >
            <q-tooltip :disable="$q.platform.is.mobile" v-close-popup
              >{{
                props.inFullscreen ? "Exit Fullscreen" : "Toggle Fullscreen"
              }}
            </q-tooltip>
          </q-btn>
        </template>

        <!-- Table Body -->
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td key="area" class="no-wrap" :props="props">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="max-width">
                      <div class="text-h5">
                        {{ selectedSchool.label }}
                      </div>
                      <div
                        class="text-h6 q-mb-md"
                        v-if="selectedTitle && selectedTitle.label"
                      >
                        {{ selectedTitle.label }} - Summary Report
                      </div>

                      <div v-if="budgetArray && budgetArray.length">
                        <div class="q-mb-md text-subtitle1">
                          <b>Summary year to date spending by category</b>
                        </div>
                        <YearSummary :budgetArray="budgetArray" />

                        <div class="q-mb-md q-mt-md text-subtitle1">
                          <div>
                            <b>Total spending to date: {{ totalSpent }} $</b>
                          </div>
                        </div>
                      </div>

                      <div v-if="startDate && endDate" class="q-mb-lg">
                        <b
                          ><span>{{ startDate }}</span> -
                          <span>{{ endDate }}</span>
                        </b>
                      </div>

                      <div v-if="updateBudgetReportComponent">
                        <div v-for="i in 4" :key="i">
                          <BudgetReport
                            :category="i"
                            :startDate="startDate"
                            :endDate="endDate"
                            :schoolId="selectedSchool.id"
                            :allocation="selectedTitle.id"
                            :showTbd="showTbd"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import config from "../../../config";

import YearSummary from "./YearSummary.vue";
import BudgetReport from "./BudgetReport.vue";

export default {
  components: {
    YearSummary,
    BudgetReport
  },
  data() {
    return {
      mode: "list",
      loading: false,

      selectedTitle: "",
      titleOptions: [],

      selectedSchool: "",
      schoolsOptions: [],
      schoolsOptionsForFilter: [],

      startDate: "",
      endDate: "",

      // selectedSubcategory: "",
      // subcategoryOptions: [],

      showTbd: false,

      columns: [
        {
          name: "area",
          align: "left",
          label: "",
          field: "area",
          sortable: false
        }
      ],
      data: [
        {
          area: ""
        }
      ],

      //budgetArray
      budgetArray: [],
      totalSpent: 0,

      updateBudgetReportComponent: false
    };
  },
  methods: {
    exportExcel() {
      this.loading = true;
      const conf = {
        method: "GET",
        url: `${config.schoolExport}?schools=${this.selectedSchool.id}&allocation=${this.selectedTitle.id}&start_date=${this.startDate}&${this.endDate}`,
        headers: {
          Accept: "application/json"
        }
      };

      axios(conf)
        .then(res => {
          let l = res.data.excelLink;
          let fileLink = document.createElement("a");

          fileLink.href = l;
          fileLink.setAttribute("download", l);
          document.body.appendChild(fileLink);

          fileLink.click();
          this.loading = false;
        })
        .catch(err => {
          this.loading = false;
        });
    },
    filterSummaryReport() {
      this.getYearTotals();
      this.updateBudgetReportComponent = false;

      this.$nextTick(() => {
        this.updateBudgetReportComponent = true;
      });
    },
    getSchools() {
      const conf = {
        method: "GET",
        url: config.getSchools + "?limit=" + 500 + "&page=" + 1,
        headers: {
          Accept: "application/json"
        }
      };

      axios(conf).then(res => {
        let schoolsArr = [];
        for (let i = 0; i < res.data.schools.length; i++) {
          let obj = {
            id: res.data.schools[i].id,
            label: res.data.schools[i].name
          };

          schoolsArr.push(obj);
        }

        this.schoolsOptions = schoolsArr;
        this.schoolsOptionsForFilter = schoolsArr;
      });
    },
    filterFn(val, update) {
      if (val === "") {
        update(() => {
          this.schoolsOptions = this.schoolsOptionsForFilter;
        });
        return;
      }

      update(() => {
        if (val) {
          const needle = val.toLowerCase();
          this.schoolsOptions = this.schoolsOptionsForFilter.filter(
            v => v.label.toLowerCase().indexOf(needle) > -1
          );
        }
      });
    },
    getSchoolAllocationTypes(schoolId) {
      const conf = {
        method: "GET",
        url: `${config.getSchoolAllocationTypes}${schoolId}`,
        headers: {
          Accept: "application/json"
        }
      };

      axios(conf).then(res => {
        let titles = res.data.schoolAllocations;
        let arr = [];
        for (let i = 0; i < titles.length; i++) {
          arr.push({
            id: titles[i].id,
            label: titles[i].name
          });
        }
        this.titleOptions = arr;
      });
    },
    ////
    getYearTotals() {
      let uri = "";
      if (this.startDate && this.endDate)
        uri += `?startDate=${this.startDate}&endDate=${this.endDate}`;

      const conf = {
        method: "GET",
        url: `${config.getBudgetTotals}${this.selectedTitle.id}/${this.selectedSchool.id}${uri}`,
        headers: {
          Accept: "application/json"
        }
      };

      axios(conf).then(res => {
        const budgetBalance = res.data.budgetBalance;
        let budgetArray = [];
        for (let i = 0; i < budgetBalance.length; i++) {
          budgetArray.push({
            category: budgetBalance[i].categoryName,
            allocated: `$ ${budgetBalance[i].total.toFixed(2)}`,
            available: `$ ${budgetBalance[i].availableAmount.toFixed(2)}`,
            budgeted: `$ ${budgetBalance[i].spentAmount.toFixed(2)}`,
            remaining: `$ ${budgetBalance[i].remaining.toFixed(2)}`
          });
        }
        this.budgetArray = budgetArray;
        this.totalSpent = res.data.totalSpent;
      });
    }
  },
  watch: {
    selectedSchool(val) {
      this.getSchoolAllocationTypes(val.id);
      this.selectedTitle = "";
    }
  },
  created() {
    this.getSchools();
  },
  computed: {
    isValid() {
      if (
        this.selectedTitle.id &&
        this.selectedSchool.id &&
        this.startDate != "" &&
        this.endDate != ""
      ) {
        return false;
      } else {
        return true;
      }
    }
  }
};
</script>

<style>
.max-width {
  max-width: 1200px;
}
.no-wrap {
  white-space: inherit !important;
}
.school-block {
  max-width: 330px;
  width: 330px;
}
.date-block {
  max-width: 145px;
}
.title-block {
  max-width: 115px;
  width: 115px;
}
/* .subcategory-block {
  width: 200px;
  max-width: 200px;
} */
</style>
