<template>
  <div class="table-max-width">
    <q-table
      class="blue-table"
      :data="budgetArray"
      :columns="columns"
      hide-bottom
    >
    </q-table>
  </div>
</template>

<script>
export default {
  props: {
    budgetArray: { required: true }
  },
  data() {
    return {
      columns: [
        {
          name: "category",
          align: "left",
          label: "Category",
          field: "category",
          sortable: false
        },
        {
          name: "allocated",
          align: "left",
          label: "Allocated",
          field: "allocated",
          sortable: false
        },
        {
          name: "available",
          align: "left",
          label: "Available",
          field: "available",
          sortable: false
        },
        {
          name: "budgeted",
          align: "left",
          label: "Budgeted",
          field: "budgeted",
          sortable: false
        },
        {
          name: "remaining",
          align: "left",
          label: "Remaining",
          field: "remaining",
          sortable: false
        }
      ]
    };
  }
};
</script>

<style lang="sass">
.table-max-width
  max-width: 800px

.blue-table
  width: 600px
  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th
    /* bg color is important for th; just specify one */
    background-color: var(--blue);
    color: var(--white)

  thead tr th
    position: sticky
    z-index: 1
  thead tr:first-child th
    top: 0

  /* this is when the loading indicator appears */
  // &.q-table--loading thead tr:last-child th
  //   /* height of all previous header rows */
  //   top: 48px
</style>
