<template>
  <q-page class="q-pa-sm edx-background">
    <q-card class="bg-transparent">
      <q-card-section class="q-pa-none">
        <div class="row q-col-gutter-sm ">
          <div class="edx-dashboard-qitem">
            <q-item
              style="background-color: #538dead7"
              class="q-pa-none q-ml-xs"
            >
              <q-item-section
                side
                style="background-color: #3f80ea"
                class=" q-pa-lg q-mr-none text-white"
              >
                <q-icon
                  name="account_balance"
                  color="white"
                  size="35px"
                ></q-icon>
                <q-item-label class="edx-card-subitem"
                  ><q-tooltip content-class="edx-tooltip"
                    >Final vs. Preliminary Ratio</q-tooltip
                  >{{
                    ((title1Available / title1Total) * 100).toFixed(2)
                  }}%</q-item-label
                >
              </q-item-section>
              <q-item-section class=" q-pa-md q-ml-none  text-white">
                <q-item-label class="text-white text-h6 text-weight-bolder"
                  >Title I</q-item-label
                >
                <q-item-label class="text-white text-h12 text-weight-bolder"
                  ><q-tooltip content-class="edx-tooltip"
                    >Total Allocation</q-tooltip
                  >$ {{ title1Total }}</q-item-label
                >
                <q-item-label
                  ><q-badge class="edx-bg-green"
                    ><q-tooltip content-class="edx-tooltip"
                      >Avaiable to spend</q-tooltip
                    >$ {{ title1Available }}</q-badge
                  ></q-item-label
                >
              </q-item-section>
            </q-item>
            <div id="chart">
              <apexchart
                width="250"
                type="donut"
                :options="title1Options"
                :series="title1Series"
              ></apexchart>
            </div>
          </div>

          <div class="edx-dashboard-qitem">
            <q-item
              style="background-color: #538dead7"
              class="q-pa-none q-ml-xs"
            >
              <q-item-section
                side
                style="background-color: #3f80ea"
                class=" q-pa-lg q-mr-none text-white"
              >
                <q-icon
                  name="account_balance"
                  color="white"
                  size="35px"
                ></q-icon>
                <q-item-label class="edx-card-subitem"
                  ><q-tooltip content-class="edx-tooltip"
                    >Final vs. Preliminary Ratio</q-tooltip
                  >{{
                    ((title2Available / title2Total) * 100).toFixed(2)
                  }}%</q-item-label
                >
              </q-item-section>
              <q-item-section class=" q-pa-md q-ml-none  text-white">
                <q-item-label class="text-white text-h6 text-weight-bolder"
                  >Title II</q-item-label
                >
                <q-item-label class="text-white text-h12 text-weight-bolder"
                  ><q-tooltip content-class="edx-tooltip"
                    >Total Allocation</q-tooltip
                  >$ {{ title2Total }}</q-item-label
                >
                <q-item-label class="text-yellow text-h14"
                  ><q-badge class="edx-bg-green"
                    ><q-tooltip content-class="edx-tooltip"
                      >Avaiable to spend</q-tooltip
                    >$ {{ title2Available }}</q-badge
                  ></q-item-label
                >
              </q-item-section>
            </q-item>
            <div id="chart">
              <apexchart
                width="250"
                type="donut"
                :options="title2Options"
                :series="title2Series"
              ></apexchart>
            </div>
          </div>

          <div class="edx-dashboard-qitem">
            <q-item
              style="background-color: #538dead7"
              class="q-pa-none q-ml-xs"
            >
              <q-item-section
                side
                style="background-color: #3f80ea"
                class=" q-pa-lg q-mr-none text-white"
              >
                <q-icon
                  name="account_balance"
                  color="white"
                  size="35px"
                ></q-icon>
                <q-item-label class="edx-card-subitem"
                  ><q-tooltip content-class="edx-tooltip"
                    >Final vs. Preliminary Ratio</q-tooltip
                  >{{
                    ((title3Available / title3Total) * 100).toFixed(2)
                  }}%</q-item-label
                >
              </q-item-section>
              <q-item-section class=" q-pa-md q-ml-none  text-white">
                <q-item-label class="text-white text-h6 text-weight-bolder"
                  >Title III</q-item-label
                >
                <q-item-label class="text-white text-h12 text-weight-bolder"
                  ><q-tooltip content-class="edx-tooltip"
                    >Total Allocation</q-tooltip
                  >$ {{ title3Total }}</q-item-label
                >
                <q-item-label class="text-yellow text-h14"
                  ><q-badge class="edx-bg-green"
                    ><q-tooltip content-class="edx-tooltip"
                      >Avaiable to spend</q-tooltip
                    >$ {{ title3Available }}</q-badge
                  ></q-item-label
                >
              </q-item-section>
            </q-item>
            <div id="chart">
              <apexchart
                width="250"
                type="donut"
                :options="title3Options"
                :series="title3Series"
              ></apexchart>
            </div>
          </div>

          <div class="edx-dashboard-qitem">
            <q-item
              style="background-color: #538dead7"
              class="q-pa-none q-ml-xs"
            >
              <q-item-section
                side
                style="background-color: #3f80ea"
                class=" q-pa-lg q-mr-none text-white"
              >
                <q-icon
                  name="account_balance"
                  color="white"
                  size="35px"
                ></q-icon>
                <q-item-label class="edx-card-subitem"
                  ><q-tooltip content-class="edx-tooltip"
                    >Final vs. Preliminary Ratio</q-tooltip
                  >{{
                    ((title4Available / title4Total) * 100).toFixed(2)
                  }}%</q-item-label
                >
              </q-item-section>
              <q-item-section class=" q-pa-md q-ml-none  text-white">
                <q-item-label class="text-white text-h6 text-weight-bolder"
                  >Title IV</q-item-label
                >
                <q-item-label class="text-white text-h12 text-weight-bolder"
                  ><q-tooltip content-class="edx-tooltip"
                    >Total Allocation</q-tooltip
                  >$ {{ title4Total }}</q-item-label
                >
                <q-item-label class="text-yellow text-h14"
                  ><q-badge class="edx-bg-green"
                    ><q-tooltip content-class="edx-tooltip"
                      >Avaiable to spend</q-tooltip
                    >$ {{ title4Available }}</q-badge
                  ></q-item-label
                >
              </q-item-section>
            </q-item>
            <div id="chart">
              <apexchart
                width="250"
                type="donut"
                :options="title4Options"
                :series="title4Series"
              ></apexchart>
            </div>
          </div>

          <div class="edx-dashboard-qitem">
            <q-item
              style="background-color: #538dead7"
              class="q-pa-none q-ml-xs"
            >
              <q-item-section
                side
                style="background-color: #3f80ea"
                class=" q-pa-lg q-mr-none text-white"
              >
                <q-icon
                  name="account_balance"
                  color="white"
                  size="35px"
                ></q-icon>
                <q-item-label class="edx-card-subitem"
                  ><q-tooltip content-class="edx-tooltip"
                    >Final vs. Preliminary Ratio</q-tooltip
                  >{{
                    ((esserAvailable / esserTotal) * 100).toFixed(2)
                  }}%</q-item-label
                >
              </q-item-section>
              <q-item-section class=" q-pa-md q-ml-none  text-white">
                <q-item-label class="text-white text-h6 text-weight-bolder"
                  >ESSER</q-item-label
                >
                <q-item-label class="text-white text-h12 text-weight-bolder"
                  ><q-tooltip content-class="edx-tooltip"
                    >Total Allocation</q-tooltip
                  >$ {{ esserTotal }}</q-item-label
                >
                <q-item-label class="text-yellow text-h14"
                  ><q-badge class="edx-bg-green"
                    ><q-tooltip content-class="edx-tooltip"
                      >Avaiable to spend</q-tooltip
                    >$ {{ esserAvailable }}</q-badge
                  ></q-item-label
                >
              </q-item-section>
            </q-item>
            <div id="chart">
              <apexchart
                width="250"
                type="donut"
                :options="esserOptions"
                :series="esserSeries"
              ></apexchart>
            </div>
          </div>

          <div class="edx-dashboard-qitem">
            <q-item
              style="background-color: #538dead7"
              class="q-pa-none q-ml-xs"
            >
              <q-item-section
                side
                style="background-color: #3f80ea"
                class=" q-pa-lg q-mr-none text-white"
              >
                <q-icon
                  name="account_balance"
                  color="white"
                  size="35px"
                ></q-icon>
                <q-item-label class="edx-card-subitem"
                  ><q-tooltip content-class="edx-tooltip"
                    >Final vs. Preliminary Ratio</q-tooltip
                  >{{
                    ((geerAvailable / geerTotal) * 100).toFixed(2)
                  }}%</q-item-label
                >
              </q-item-section>
              <q-item-section class=" q-pa-md q-ml-none  text-white">
                <q-item-label class="text-white text-h6 text-weight-bolder"
                  >GEER</q-item-label
                >
                <q-item-label class="text-white text-h12 text-weight-bolder"
                  ><q-tooltip content-class="edx-tooltip"
                    >Total Allocation</q-tooltip
                  >$ {{ geerTotal }}</q-item-label
                >
                <q-item-label class="text-yellow text-h14"
                  ><q-badge class="edx-bg-green"
                    ><q-tooltip content-class="edx-tooltip"
                      >Avaiable to spend</q-tooltip
                    >$ {{ geerAvailable }}</q-badge
                  ></q-item-label
                >
              </q-item-section>
            </q-item>
            <div id="chart">
              <apexchart
                width="250"
                type="donut"
                :options="geerOptions"
                :series="geerSeries"
              ></apexchart>
            </div>
          </div>
        </div>
      </q-card-section>
    </q-card>

    <q-card class="bg-transparent, col-md-3">
      <q-card-section class="q-pa-none">
        <div class="row q-col-gutter-sm ">
          <div id="chart">
            <apexchart
              width="350"
              type="pie"
              :options="allocationOptions"
              :series="allocationSeries"
            ></apexchart>
          </div>
          <div id="chart">
            <apexchart
              width="400"
              type="bar"
              :options="invoiceOptions"
              :series="invoiceSeries"
            ></apexchart>
          </div>
        </div>
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script>
import VueApexCharts from "vue-apexcharts";
import axios from "axios";
import config from "../../config";

export default {
  testdata: [],

  components: {
    apexchart: VueApexCharts
  },

  data() {
    return {
      title1Total: 0,
      title1Available: 0,
      title2Total: 0,
      title2Available: 0,
      title3Total: 0,
      title3Available: 0,
      title4Total: 0,
      title4Available: 0,
      esserTotal: 0,
      esserAvailable: 0,
      geerTotal: 0,
      geerAvailable: 0,
      title1Series: [],
      title2Series: [],
      title3Series: [],
      title4Series: [],
      esserSeries: [],
      geerSeries: [],
      allocationSeries: [],
      allocationLabels: [],
      invoiceLabels: [],
      invoiceSeries: [
        {
          name: "Amount",
          data: []
        }
      ],

      title1Options: {
        colors: ["#3f80ea", "#ff943cee", "#4bbf74c0"],
        title: {
          text: "Title I Breakdown"
        },
        dataLabels: {
          enabled: true,
          style: {
            colors: ["#343a40"]
          }
        },
        markers: {
          strokeWidth: 10
        },
        legend: {
          show: true,
          floating: true,
          position: "left"
        },
        chart: {
          redrawOnParentResize: true,
          type: "donut"
        },
        grid: {
          padding: {
            left: 15
          }
        }
      },

      title2Options: {
        colors: ["#3f80ea", "#d9534f"],
        title: {
          text: "Title II Breakdown"
        },
        dataLabels: {
          enabled: true,
          style: {
            colors: ["#343a40"]
          }
        },
        legend: {
          show: true,
          floating: true,
          position: "left"
        },
        chart: {
          type: "donut"
        },
        grid: {
          padding: {
            left: 15
          }
        }
      },

      title3Options: {
        colors: ["#3f80ea", "#4bbf74c0", "#ff943cee", "#d9534f"],
        title: {
          text: "Title III Breakdown"
        },
        dataLabels: {
          enabled: true,
          style: {
            colors: ["#343a40"]
          }
        },
        legend: {
          show: true,
          floating: true,
          position: "left"
        },
        chart: {
          type: "donut"
        },
        grid: {
          padding: {
            left: 15
          }
        }
      },

      title4Options: {
        colors: ["#3f80ea", "#4bbf74c0", "#ff943cee", "#d9534f"],
        title: {
          text: "Title IV Breakdown"
        },
        dataLabels: {
          enabled: true,
          style: {
            colors: ["#343a40"]
          }
        },
        legend: {
          show: true,
          floating: true,
          position: "left"
        },
        chart: {
          type: "donut"
        },
        grid: {
          padding: {
            left: 15
          }
        }
      },

      esserOptions: {
        colors: ["#3f80ea", "#4bbf74c0", "#ff943cee", "#d9534f"],
        title: {
          text: "ESSER Breakdown"
        },
        dataLabels: {
          enabled: true,
          style: {
            colors: ["#343a40"]
          }
        },
        legend: {
          show: true,
          floating: true,
          position: "left"
        },
        chart: {
          type: "donut"
        },
        grid: {
          padding: {
            left: 15
          }
        }
      },

      geerOptions: {
        colors: ["#3f80ea", "#4bbf74c0", "#ff943cee", "#d9534f"],
        title: {
          text: "GEER Breakdown"
        },
        dataLabels: {
          enabled: true,
          style: {
            colors: ["#343a40"]
          }
        },
        legend: {
          show: true,
          floating: true,
          position: "left"
        },
        chart: {
          type: "donut"
        },
        grid: {
          padding: {
            left: 15
          }
        }
      },

      allocationOptions: {
        colors: [
          "#3f80ea",
          "#4bbf74c0",
          "#ff943cee",
          "#d9534f",
          "#6e42c1b5",
          "#f5d44f"
        ],
        title: {
          text: "Total Allocations & Percentages"
        },
        dataLabels: {
          enabled: true,
          style: {
            colors: ["#343a40"]
          }
        },
        markers: {
          strokeWidth: 10
        },
        legend: {
          show: true,
          floating: true,
          position: "left"
        },
        chart: {
          zoom: {
            enabled: true
          },
          redrawOnParentResize: true,
          type: "pie"
        },
        grid: {
          padding: {
            left: 25
          }
        }
      },

      invoiceOptions: {
        colors: ["#3f80ea"],
        labels: ["Total Invoiced", "Total Paid"],
        title: {
          text: "Invoicing Summary"
        },
        dataLabels: {
          enabled: true,
          style: {
            colors: ["#343a40"]
          }
        },
        markers: {
          strokeWidth: 10
        },
        legend: {
          show: true,
          floating: true,
          position: "left"
        },
        chart: {
          zoom: {
            enabled: true
          },
          redrawOnParentResize: true,
          type: "bar"
        },
        grid: {
          padding: {
            left: 25
          }
        }
      }
    };
  },

  methods: {
    getTitleIFundsbyCategory() {
      const conf = {
        method: "GET",
        url: config.GetFundsByCategoryAndPercentage + "1",
        headers: {
          Accept: "application/json"
        }
      };

      axios(conf).then(res => {
        let fundsArr = [];
        let labelsArr = [];
        let totalAllocation = 0;
        let availableAllocation = 0;
        for (let i = 0; i < res.data.fundTotalsByCategory.length; i++) {
          // if fund is a parent or a grand total we do not include in categories
          if (
            res.data.fundTotalsByCategory[i].isParent == 1 ||
            res.data.fundTotalsByCategory[i].isTotal == 1
          ) {
            // Get avaiable funds based on Total allocation
            if (res.data.fundTotalsByCategory[i].isTotal == 1) {
              availableAllocation =
                res.data.fundTotalsByCategory[i].availableAmount;
            }
          } else {
            fundsArr.push(res.data.fundTotalsByCategory[i].amount);
            labelsArr.push(res.data.fundTotalsByCategory[i].abbr);
            totalAllocation =
              totalAllocation + res.data.fundTotalsByCategory[i].amount;
          }
        }

        this.title1Series = fundsArr;
        this.title1Options = {
          labels: labelsArr
        };
        this.title1Total = totalAllocation.toFixed(2);
        this.title1Available = availableAllocation.toFixed(2);
      });
    },

    getTitleIIFundsbyCategory() {
      const conf = {
        method: "GET",
        url: config.GetFundsByCategoryAndPercentage + "2",
        headers: {
          Accept: "application/json"
        }
      };

      axios(conf).then(res => {
        let fundsArr = [];
        let labelsArr = [];
        let totalAllocation = 0;
        let availableAllocation = 0;
        for (let i = 0; i < res.data.fundTotalsByCategory.length; i++) {
          // if fund is a parent or a grand total we do not include in categories
          if (
            res.data.fundTotalsByCategory[i].isParent == 1 ||
            res.data.fundTotalsByCategory[i].isTotal == 1
          ) {
            // Get avaiable funds based on Total allocation
            if (res.data.fundTotalsByCategory[i].isTotal == 1) {
              availableAllocation =
                res.data.fundTotalsByCategory[i].availableAmount;
            }
          } else {
            fundsArr.push(res.data.fundTotalsByCategory[i].amount);
            labelsArr.push(res.data.fundTotalsByCategory[i].abbr);
            totalAllocation =
              totalAllocation + res.data.fundTotalsByCategory[i].amount;
          }
        }

        this.title2Series = fundsArr;
        this.title2Options = {
          labels: labelsArr
        };
        this.title2Total = totalAllocation.toFixed(2);
        this.title2Available = availableAllocation.toFixed(2);
      });
    },

    getTitleIIIFundsbyCategory() {
      const conf = {
        method: "GET",
        url: config.GetFundsByCategoryAndPercentage + "3",
        headers: {
          Accept: "application/json"
        }
      };

      axios(conf).then(res => {
        let fundsArr = [];
        let labelsArr = [];
        let totalAllocation = 0;
        let availableAllocation = 0;
        for (let i = 0; i < res.data.fundTotalsByCategory.length; i++) {
          fundsArr.push(res.data.fundTotalsByCategory[i].amount);
          labelsArr.push(res.data.fundTotalsByCategory[i].abbr);
          totalAllocation =
            totalAllocation + res.data.fundTotalsByCategory[i].amount;
          availableAllocation =
            availableAllocation +
            res.data.fundTotalsByCategory[i].availableAmount;
        }

        this.title3Series = fundsArr;
        this.title3Options = {
          labels: labelsArr
        };
        this.title3Total = totalAllocation.toFixed(2);
        this.title3Available = availableAllocation.toFixed(2);
      });
    },

    getTitleIVFundsbyCategory() {
      const conf = {
        method: "GET",
        url: config.GetFundsByCategoryAndPercentage + "4",
        headers: {
          Accept: "application/json"
        }
      };

      axios(conf).then(res => {
        let fundsArr = [];
        let labelsArr = [];
        let totalAllocation = 0;
        let availableAllocation = 0;
        for (let i = 0; i < res.data.fundTotalsByCategory.length; i++) {
          // if fund is a parent or a grand total we do not include in categories
          if (
            res.data.fundTotalsByCategory[i].isParent == 1 ||
            res.data.fundTotalsByCategory[i].isTotal == 1
          ) {
            // Get avaiable funds based on Total allocation
            if (res.data.fundTotalsByCategory[i].isTotal == 1) {
              availableAllocation =
                res.data.fundTotalsByCategory[i].availableAmount;
            }
          } else {
            fundsArr.push(res.data.fundTotalsByCategory[i].amount);
            labelsArr.push(res.data.fundTotalsByCategory[i].abbr);
            totalAllocation =
              totalAllocation + res.data.fundTotalsByCategory[i].amount;
          }
        }

        this.title4Series = fundsArr;
        this.title4Options = {
          labels: labelsArr
        };
        this.title4Total = totalAllocation.toFixed(2);
        this.title4Available = availableAllocation.toFixed(2);
      });
    },

    getESSERFundsbyCategory() {
      const conf = {
        method: "GET",
        url: config.GetFundsByCategoryAndPercentage + "5",
        headers: {
          Accept: "application/json"
        }
      };

      axios(conf).then(res => {
        let fundsArr = [];
        let labelsArr = [];
        let totalAllocation = 0;
        let availableAllocation = 0;
        for (let i = 0; i < res.data.fundTotalsByCategory.length; i++) {
          fundsArr.push(res.data.fundTotalsByCategory[i].amount);
          labelsArr.push(res.data.fundTotalsByCategory[i].abbr);
          totalAllocation =
            totalAllocation + res.data.fundTotalsByCategory[i].amount;
          availableAllocation =
            availableAllocation +
            res.data.fundTotalsByCategory[i].availableAmount;
        }

        this.esserSeries = fundsArr;
        this.esserOptions = {
          labels: labelsArr
        };
        this.esserTotal = totalAllocation.toFixed(2);
        this.esserAvailable = availableAllocation.toFixed(2);
      });
    },

    getGEERFundsbyCategory() {
      const conf = {
        method: "GET",
        url: config.GetFundsByCategoryAndPercentage + "6",
        headers: {
          Accept: "application/json"
        }
      };

      axios(conf).then(res => {
        let fundsArr = [];
        let labelsArr = [];
        let totalAllocation = 0;
        let availableAllocation = 0;
        for (let i = 0; i < res.data.fundTotalsByCategory.length; i++) {
          fundsArr.push(res.data.fundTotalsByCategory[i].amount);
          labelsArr.push(res.data.fundTotalsByCategory[i].abbr);
          totalAllocation =
            totalAllocation + res.data.fundTotalsByCategory[i].amount;
          availableAllocation =
            availableAllocation +
            res.data.fundTotalsByCategory[i].availableAmount;
        }

        this.geerSeries = fundsArr;
        this.geerOptions = {
          labels: labelsArr
        };
        this.geerTotal = totalAllocation.toFixed(2);
        this.geerAvailable = availableAllocation.toFixed(2);
      });
    },

    getAllAllocations() {
      const conf = {
        method: "GET",
        url: config.getAllAllocation,
        headers: {
          Accept: "application/json"
        }
      };

      axios(conf).then(res => {
        let amountArr = [];
        let labelsArr = [];
        let availableAmount = [];
        for (let i = 0; i < res.data.totalAllocation.length; i++) {
          amountArr.push(res.data.totalAllocation[i].totalAmount);
          labelsArr.push(res.data.totalAllocation[i].name);
          //availableAmount.push(res.data.totalAllocation[i].availableAmount)
        }

        this.allocationSeries = amountArr;
        this.allocationOptions = {
          labels: labelsArr
        };
      });
    },

    getInvoicingBar() {
      const conf = {
        method: "GET",
        url: config.getInvoiceTotals,
        headers: {
          Accept: "application/json"
        }
      };
      axios(conf).then(res => {
        this.invoiceSeries[0].data.push(res.data.invoiceTotals.totalInvoice);
        this.invoiceSeries[0].data.push(res.data.invoiceTotals.totalPaid);
        this.invoiceOptions = {
          title: {
            text:
              "Invoicing Summary: " +
              res.data.invoiceTotals.invoiceCount +
              " total invoices"
          }
        };
        console.log("invoice data: ", this.invoiceSeries);
      });
    }
  },

  created() {
    this.getTitleIFundsbyCategory();
    this.getTitleIIFundsbyCategory();
    this.getTitleIIIFundsbyCategory();
    this.getTitleIVFundsbyCategory();
    this.getESSERFundsbyCategory();
    this.getGEERFundsbyCategory();
    this.getAllAllocations();
    this.getInvoicingBar();
  }
};
</script>
