@import url("https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.8.55/css/materialdesignicons.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("./edxchangeClass.css");
@import url("./edx-quasar-reset.css");
@import url("./edx.css");

:root {
  --blue: #3f80ea;
  --light-blue: #538dead7;
  --lighter-blue: #538dea49;
  --dark-blue: #2977ff;
  --light-blue-chip: #538dea49;
  --indigo: #6610f2;
  --purple: #6e42c1b5;
  --pink: #e83e8c;
  --red: #d9534f;
  --light-red: #d9544fc5;
  --lighter-red: #d9544f30;
  --dark-red: #d7403b;
  --orange: #ff943cee;
  --light-orange: #fd7d14c2;
  --lighter-orange: #fd7d1425;
  --light-orange-chip: #fd7d14c2;
  --dark-orange: #e46802;
  --yellow: #f5d44f;
  --lighter-yellow: #f5d44f7b;
  --dark-yellow: #dfb300;
  --green: #4bbf74c0;
  --light-green: #4bbf74d0;
  --lighter-green: #4bbf7433;
  --dark-green: #1ca54c;
  --excel-green: #147c44;
  --teal: #67981a;
  --cyan: #0583c5;
  --white: #fff;
  --light-white: #ced4da;
  --gray: #999999;
  --gray-dark: #343a40;
  --primary: #ff5a5f;
  --secondary: #495057;
  --success: #67981a;
  --info: #3f93f3;
  --warning: #ffba00;
  --danger: #ff0000;
  --tooltip-background: #538dead7;
  --light: #f0f0f0;
  --dark: #000;
  --white: #fff;
  --gray: #999999;
  --darker-light: #cccccc;
  --lighter-dark: #262626;
  --gray-01: #e8edef;
  --gray-02: #f5f5f5;
  --gray-03: #eeeeee;
  --gray-04: #eef1f2;
  --gray-05: #ecf0f1;
  --gray-06: #f0f2f3;
}

/* app global css */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Global styles for refactor  */
.q-table__title {
  margin-left: -28px;
  margin-top: 0.75rem;
  padding: 2px 10px 2px 25px;
  background: #e0e0e0;
  color: #616161;
  font-size: 1.4rem;
  position: relative;
  border-radius: 3px 5px 5px 0;
}

.q-table__title:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-top-color: #bebebe;
  border-width: 9px 0 0 11px;
}

.heading-top {
  margin-left: -28px;
  padding: 2px 10px 2px 25px;
  background: #e0e0e0;
  color: #616161;
  font-size: 1.4rem;
  position: relative;
  display: inline-block;
  border-radius: 3px 5px 5px 0;
}

.q-table__top.relative-position.row.items-center
  .q-table__control:nth-child(3) {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.tab-panels-parent {
  overflow: inherit;
}
.tab-panels-parent .scroll {
  overflow: inherit;
}
.tab-panels-parent .q-tab-panel {
  padding: 0;
}

/* Reset  */
.q-table__container.q-table--horizontal-separator.column.no-wrap.q-table__card.q-table--no-wrap {
  margin-top: 0;
}

.edx-header-parent {
  position: relative;
  height: 45px;
}

span.edx-header-text {
  font-size: 1.45rem;
  padding: 0.5rem 1.5rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #fff;
  box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.2);
  z-index: 4;
  position: absolute;
}

.bordered-box {
  border: 1px solid #bcbcbc;
  padding: 1rem;
  border-radius: 0.3rem;
}

/* .q-tab-panel {
  padding: 0 !important;
}

.scroll {
  overflow: inherit !important;
} */

.table-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 40px;
  height: 40px;
}

.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}

.inline-span {
  height: 34px;
  overflow: hidden;
  display: flex;
  justify-content: start;
  align-items: center;
  line-height: 1;
}

.q-icon,
.material-icons {
  font-size: 1.5rem;
}

.mw-100 {
  min-width: 100px;
}

.p-0 {
  padding: 0 !important;
}
.m-0 {
  margin: 0 !important;
}

.my-sticky-column-table thead tr:last-child,
.my-sticky-column-table th:last-child {
  background-color: #fff;
  opacity: 1;
}

.my-sticky-column-table td:last-child {
  background-color: #fff;
  color: #fff;
}

.my-sticky-column-table thead tr:last-child th:last-child,
.my-sticky-column-table td:last-child {
  position: sticky;
  -webkit-position: sticky; /* add this line */
  right: 0;
  z-index: 1;
}
